body {
  background-color: black;
}

.dbox {
  height: 200px;
  width: 200px;
  position: relative;
  background: red;
  text-transform: uppercase;
  animation: office 30s 4;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}

h1 {
  color: black;
  font: italic 5em sans-serif;
  letter-spacing: -10px;
  font-weight: 900;
  margin: 0 20px;
  padding-top: 30px;
  
}

 p {
  color: white;
  font: 2em sans-serif;
  font-weight: 900;
  margin: 0 45px;
}


@keyframes office {
   0%   {background-color:red; left:0px; top:0px;}
   25%  {background-color:orange; left:500px; top:0px;}
   50%  {background-color:yellow; right:500px; top:500px;}
   75%  {background-color:green; left:0px; top:500px;}
   100% {background-color:blue; left:50px; top:0px;}
}
