div.top {
	padding-bottom: 1.5rem;	
}

div.heading {
	margin-bottom: 15px;
}
div.leftSide {
	float: left;
	padding: 1rem 2rem;
	width: 55%;
	height: 300px;
	word-wrap: break-word;
}
div.rightSide {
	float: left;
	padding: 1rem 2rem;
	width: 30%;
	height: 300px;
	word-wrap: break-word;
}

td {
	padding-left: 20px;
	padding-right: 20px;
}