* {
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}

a {
	color: rgb(220, 0, 0);
}

aside.ads {
  grid-column: 3/4;
  background: linear-gradient(to right, lightgrey, white);
  border-left: 1px solid grey;
  grid-row: 2/4;
}

main {
  padding: 1rem;
}

h1.title {
	margin-bottom: 10px;
}

div.content {
  padding: 1.5rem;
  background: lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.video_paragraphs {
  padding: 0.25rem;
}